*{
  margin:0 auto;
  padding: 0 auto;
  z-index: 9;
}

body{
  background: linear-gradient(#000046, #1cb5e0);
  background-repeat: no-repeat;
  height: 800px;
}

.suelo{
  background-color: #4A6C2F;
  height: 350px;
  width: 2000px;
  position: fixed;
  top: 700px;
}

.casa{
  height: 250px;
  width: 300px;
  background-color: #784922;
  position: absolute;
  top: 450px;
  right: 700px;
}

.ventana{
  height: 50px;
  width: 30px;
  border: 7px solid #AB8856;
  background-color: #866C46;

}

.ventana.uno{
  position: relative;
  right:  70px;
  top: 30px;
}

.ventana.dos{
  position: relative;
  left: 70px;
  bottom: 34px;
}

.tejado{
  height: 350px;
  width: 350px;
  background-color: #893A3A;
  clip-path: polygon(49% 36%, 0% 100%, 100% 100%);
  position: relative;
  bottom: 540px;
  right: 25px;
}

.puerta{
  height: 70px;
  width: 40px;
  background-color: #895811;
  position: relative;
  top: 52px;
}

.luna{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #A8C5C7;
  position: relative;
  bottom: 90px;
  left: 300px;
  z-index: 1;
  animation: luna 6s infinite linear
}

@keyframes luna {
  from{
    bottom: 90px;
    left: 300px;
  }
  to{
    bottom: -250px;
    left: 330px;
  }
}

.valla{
  height: 100px;
  width: 100px;
  background-color: #C87F00;
  clip-path: polygon(79% 78%, 100% 78%, 100% 63%, 79% 63%, 79% 49%, 100% 49%, 100% 35%, 78% 35%, 78% 17%, 70% 2%, 62% 15%, 62% 34%, 41% 33%, 43% 48%, 61% 48%, 61% 63%, 48% 63%, 48% 15%, 40% 0, 32% 16%, 33% 100%, 49% 100%, 49% 78%, 62% 78%, 63% 100%, 78% 100%);
}

.valla.uno{
  position: absolute;
  right: 1000px;
  top: 600px;
}

.valla.dos{
  position: absolute;
  right: 1065px;
  top:600px;
}

.valla.tres{
  position: relative;
  right: 220px;
  top: 510px;
}

.valla.cuatro{
  position: absolute;
  right: 1195px;
  bottom:315px;
}

.semilla{
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 500px;
  z-index: 10;
  animation: flor 0.3s infinite linear;
}

@keyframes flor{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.tronco{
  height: 70px;
  width: 5px;
  background-color: #AADB42;
  position: relative;
  top: 500px;
}

.petalo{
  height: 20px;
  width: 10px;
  background-color:#FB8BEF;
  position: relative;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
}

.petalo.uno{
  position: relative;
  bottom: 20px;
  right: 10px;
}

.petalo.tres{
  position: relative;
  bottom:30px;
  left: 10px;
}

.petalo.dos{
  transform: rotateY(180deg);
  position: relative;
  right: 10px;
  bottom: 10px;
}

.petalo.cuatro{
  transform: rotateY(180deg);
  position: relative;
  bottom: 80px;
  left: 10px;
}

.montana{
  height: 1000px;
  width: 1000px;
  background-color: #807967;
  clip-path: polygon(5% 98%, 22% 22%, 34% 32%, 50% 14%, 62% 32%, 98% 99%);
  position:fixed;
  bottom: 100px;
  left: 300px;
  z-index: 2;
}

.estrella{
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: estrellas 1s infinite linear;
}

@keyframes estrellas {
  0%{
    height: 30px;
    width: 30px;
  }
  100%{
    height: 20px;
    width: 20px;
  }
}

.estrella.uno{
  left: 300px;
}

.estrella.dos{
  left: 600px;
  top: 50px;
}

.estrella.tres{
  right: 200px;
  bottom: 400px;
}

.estrella.cuatro{
  right: 300px;
  bottom: 700px;
}

.estrella.cinco{
  left: 50px;
  top: 100px;
}

.estrella.seis{
  right: 400px;
  bottom: 900px;
}

.estrella.siete{
  left: 50px;
  bottom: 700px;
}
